<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%--
  Created by IntelliJ IDEA.
  User: COCONUTmkII
  Date: 20.07.2019
  Time: 12:31
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@taglib prefix="lg" uri="/WEB-INF/custom.tld" %>
<html>
<head>
    <title><lg:locale text="sale"/></title>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/navigation_page_style.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
</head>
<body>
<div class ="navigation_logo_Main">
    <a href="../controller?command=main" class = "main_page_link">
        <img src="../images/chevrolet_logo.png" alt = "Chevrolet" title = "Chevrolet">
    </a>
    <div class = "navigation_list_container">
        <button class="Vehicles" type="button" onclick="location.href='<%= request.getContextPath()%>../controller?command=vehicle'"
                title="Vehicles">
            <lg:locale text="vehicle"/>
        </button>
        <button class = "Owners" onclick= "location.href='<%= request.getContextPath()%>../controller?command=owner'"
                title = "Owners">
            <lg:locale text="owner"/>
        </button>
        <button class = "Sales" onclick= "location.href='<%= request.getContextPath()%>../controller?command=sale'"
                title = "Sales">
            <lg:locale text="sale"/>
        </button>
        <button class = "Colleagues"
                onclick= "location.href='<%= request.getContextPath()%>../controller?command=colleague&locale=en_US'"
                title = "Colleagues">
            <lg:locale text="colleague"/>
        </button>
    </div>
    <div class="languages">
        <form action="../controller?command=language" method="post">
            <button class = "Russian_lang" name="locale" value="ru_RU"
                    title = "Russian">
                <lg:locale text="rus"/>
            </button>
        </form>
        <form action="../controller?command=language" method="post">
            <button class="English_lang" name="locale" value="en_US" title="English">
                <lg:locale text="eng"/>
            </button>
        </form>
        <form action="/controller?command=logout" method="post">
            <button  onclick="noBack()" class = "logout" title = "Logout">
                <lg:locale text="logout"/>
            </button>
        </form>
    </div>
</div>
<img src="../images/Sales_manager.jpg" class="img-thumbnail embed-responsive">
<br/>
<jsp:useBean id="clientDao" class="by.home.chevrolet.dao.DAOClient"/>
<jsp:useBean id="carDao" class="by.home.chevrolet.dao.DAOCar"/>
<jsp:useBean id="contractDao" class="by.home.chevrolet.dao.DAOContract"/>
<c:set var="client" value="${clientDao.showAllInformation()}"/>
<c:set var="car" value="${carDao.showAllInformation()}"/>
<c:set var="listContracts" value="${listContracts}"/>
<c:set var="mySales" value="${contractDao.showMySales(pageContext.session.getAttribute('idManager'))}"/>
<table class="table table-bordered table-responsive-lg text-center" style="overflow: auto">
    <thead class="thead-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col"><lg:locale text="contract.id"/></th>
        <th scope="col"><lg:locale text="vin"/></th>
        <th scope="col"><lg:locale text="model"/></th>
        <th scope="col"><lg:locale text="client.name"/></th>
        <th scope="col"><lg:locale text="client.surname"/></th>
        <th scope="col"><lg:locale text="client.email"/></th>
        <th scope="col"><lg:locale text="client.phone"/></th>
        <th scope="col"><lg:locale text="reserv.date"/></th>
        <th scope="col"><lg:locale text="payment.date"/></th>
        <th scope="col"><lg:locale text="ship.date"/></th>
        <th scope="col"><lg:locale text="cancel"/></th>
        <th scope="col"><lg:locale text="update"/></th>
    </tr>
    </thead>
    <tbody>
        <c:forEach var="contractBean" items="${mySales}">
        <tr>
            <c:set var="client" value="${clientDao.showClientInformation(contractBean.id)}"/>
            <c:set var="car" value="${carDao.showCarInformation(contractBean.id)}"/>
            <td></td>
            <td>${contractBean.id}</td>
            <td>${car.VIN}</td>
            <td>${car.carModel}</td>
            <td>${client.clientName}</td>
            <td>${client.clientSurname}</td>
            <td>${client.clientMail}</td>
            <td>${client.telephone}</td>
            <td>${contractBean.contractDate}</td>
            <td>${contractBean.paymentDate}</td>
            <td>${contractBean.shipmentDate}</td>
            <td><form action="/controller" method="post">
                <input type="hidden" name="command" value="reserve_cancel">
                <input type="hidden" name="VIN" value="${car.VIN}">
                <input type="hidden" name="ID" value="${contractBean.id}">
                <button type="submit" class="btn btn-warning"><lg:locale text="cancel"/></button>
            </form></td>
            <td><button type="button" id="update-button" onclick="updateForm(${contractBean.id})" class="btn btn-success" data-toggle="modal" data-target="#updateModal" data-whatever="@mdo"><lg:locale text="update"/></button></td>
        </tr>
        </c:forEach>
    </tbody>
</table>
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel"><lg:locale text="contract.upd"/></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/controller" method="post">
                    <div class="form-group">
                        <input type="hidden" name="command" value="sale_update">
                        <input name="id-upd" type="hidden" class="form-control" id="id-upd" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label"><lg:locale text="reserv.date"/></label>
                        <input name="date-upd" type="date" class="form-control" id="mail-upd" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label"><lg:locale text="payment.date"/></label>
                        <input name="payment-upd" type="date" class="form-control" id="phone-upd" required/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label"><lg:locale text="ship.date"/></label>
                        <input name="shipment-upd" type="date" class="form-control" id="name-upd" required/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><lg:locale text="cancel"/></button>
                        <button type="submit" class="btn btn-primary"><lg:locale text="confirm"/></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class = "footer">
    <div class="copyright">
        <p>
            <lg:locale text="foot"/>
        </p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../js/myChar.js"></script>
<script>
    $('#updateModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var modal = $(this);
        modal.find('.modal-title').text();
        //id-upd
    })
    function updateForm(idContract) {
        var a = document.getElementById('id-upd');
        a.value = idContract;
    }
</script>
</body>
</html>
