<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Chevrolet CRM Authorisation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  </head>
<body>
<div th:if="${param.error}" >
  <p style="color:red">Something went wrong</p>
</div>hieve
  <form class="box" th:action="@{/login}" method="POST" name="vform">
  <h1>
    <img th:src="@{/img/chevrolet_logo.png}" alt="">
  </h1>

  <input type="hidden" name="command" value="login">
  <input type="text" name="username"  placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="submit" name="" id="authorization" value="Login">
  </form>
  <form class = "registration" action = "/registration" method = "get">
    <input type = "submit" value = "Sign Up">
  </form>

</body>
<!--  <script type="text/javascript"  th:src="@{/js/authorization.js}" ></script>-->
</html>
